.frame-child117,
.pngegg-8-1 {
  position: relative;
  max-width: 100%;
}
.pngegg-8-1 {
  width: 554px;
  max-height: 100%;
  object-fit: contain;
  display: none;
  z-index: 0;
}
.frame-child117 {
  height: 1707px;
  flex: 1;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.line-icon {
  height: 270px;
  width: 270px;
  top: 169px;
  right: 0;
  object-fit: contain;
  z-index: 2;
}
.frame-child118,
.frame-main,
.line-icon {
  margin: 0 !important;
  position: absolute;
}
.frame-child118 {
  height: 160px;
  width: 448px;
  top: 517px;
  right: -29px;
  object-fit: contain;
  z-index: 3;
}
.frame-main {
  width: 1440px;
  top: 82px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-child119 {
  background: linear-gradient(94.4deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.frame-child119,
.frame-child120,
.rectangle-parent38 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.frame-child120 {
  background: linear-gradient(94.4deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  z-index: 1;
}
.rectangle-parent38 {
  margin: 0 !important;
}
.frame-child121 {
  width: 35.5px;
  height: 37.1px;
  position: relative;
  object-fit: cover;
}
.frame-wrapper15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-smi-9);
}
.subtract-icon9 {
  height: 63px;
  width: 63px;
  position: relative;
}
.frame-parent88 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-2xl-5);
}
.games9 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  min-width: 93px;
  white-space: nowrap;
  cursor: pointer;
  z-index: 1;
}
.frame-parent87,
.games-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.games-container {
  flex-direction: column;
  padding: var(--padding-lgi) 0 0;
  margin-left: -78px;
}
.frame-parent87 {
  flex-direction: row;
  z-index: 2;
}
.home5 {
  position: relative;
  font-weight: 800;
  display: inline-block;
  min-width: 53px;
  z-index: 2;
}
.home-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 0 0;
}
.pre-orders5,
.support7,
.upcoming5 {
  position: relative;
  font-weight: 800;
  display: inline-block;
  min-width: 100px;
  z-index: 2;
}
.support7,
.upcoming5 {
  min-width: 92px;
}
.support7 {
  min-width: 73px;
}
.frame-parent89,
.frame-wrapper16 {
  margin: 0;
  display: flex;
  align-items: flex-start;
}
.frame-parent89 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.frame-wrapper16 {
  width: 462px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-lg);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child122,
.icon-cart7 {
  height: 25.6px;
  width: 26px;
  position: absolute;
  margin: 0 !important;
  right: 222px;
  bottom: 26.8px;
  z-index: 3;
}
.frame-child122 {
  height: 58px;
  width: 58px;
  right: 120px;
  bottom: 8px;
  border-radius: 50%;
  object-fit: contain;
}
.component-160,
.component-735,
.frame-parent86 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent86 {
  flex: 1;
  align-items: flex-end;
  padding: var(--padding-2xs) var(--padding-101xl) var(--padding-5xs);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-223xl);
}
.component-160,
.component-735 {
  align-items: flex-start;
}
.component-735 {
  flex: 1;
}
.component-160 {
  align-self: stretch;
  z-index: 2;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.sign-up1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  min-width: 112px;
  white-space: nowrap;
  z-index: 2;
}
.input-fields {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) var(--padding-7xs) var(--padding-xl);
  font-size: var(--font-size-11xl);
}
.user-name {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 104px;
  z-index: 2;
}
.username-field {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs);
}
.username-field-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 2;
}
.email1 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 53px;
  z-index: 2;
}
.username-field1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
}
.username-field-icon1 {
  align-self: stretch;
  height: 51px;
  position: relative;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 2;
}
.input-fields1,
.input-fields2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.input-fields2 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lg);
}
.input-fields1 {
  height: 204px;
  flex-direction: row;
  padding: 0 var(--padding-9xs) 0 var(--padding-11xs);
  box-sizing: border-box;
}
.upload-profile-photo {
  position: relative;
  font-weight: 600;
  z-index: 2;
}
.upload-profile-photo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs);
}
.frame-child123 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.upload-here {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 118px;
  z-index: 1;
}
.frame-parent92,
.frame-wrapper18 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent92 {
  padding: var(--padding-smi) var(--padding-6xl) var(--padding-sm)
    var(--padding-7xl);
  position: relative;
  z-index: 2;
}
.frame-wrapper18 {
  padding: 0 var(--padding-10xs);
}
.country {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 79px;
  z-index: 2;
}
.country-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs);
}
.component-68-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.usa {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 42px;
  z-index: 1;
}
.error-messages-child {
  width: 16px;
  height: 8px;
  position: relative;
  z-index: 1;
}
.component-68,
.component-instance,
.error-messages {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.error-messages {
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
}
.component-68,
.component-instance {
  flex-direction: row;
}
.component-68 {
  padding: var(--padding-smi) var(--padding-15xl) var(--padding-sm)
    var(--padding-20xl);
  position: relative;
  gap: var(--gap-2xs);
  z-index: 2;
}
.component-instance {
  padding: 0 var(--padding-7xs);
}
.password1 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 95px;
  z-index: 2;
}
.password-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.password-input-icon {
  height: 51px;
  flex: 1;
  position: relative;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 2;
}
.password-input-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
}
.contains-at-both,
.contains-at-least,
.contains-at-least1 {
  position: relative;
  font-weight: 500;
  z-index: 2;
}
.contains-at-least-8-characters-parent,
.error-messages1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contains-at-least-8-characters-parent {
  gap: 1px;
  font-size: var(--font-size-mini);
  color: var(--color-gray-500);
  font-family: var(--font-hind-siliguri);
}
.error-messages1 {
  gap: 16.5px;
  max-width: 100%;
}
.re-password {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 129px;
  z-index: 2;
}
.re-password-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.country-selection-child {
  height: 51px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 2;
}
.country-selection {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
}
.referral-code-optional {
  position: relative;
  font-weight: 600;
  z-index: 2;
}
.referral-code-optional-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.frame-child124 {
  align-self: stretch;
  height: 51px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 2;
}
.frame-wrapper17,
.input-fields-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.input-fields-parent {
  align-self: stretch;
  gap: var(--gap-lg);
}
.frame-wrapper17 {
  width: 385px;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
  min-width: 385px;
}
.terms-and-policies-child {
  position: absolute;
  top: 16px;
  left: 265px;
  filter: blur(5px);
  background: linear-gradient(180.21deg, rgba(89, 89, 89, 0));
  width: 268px;
  height: 649px;
  z-index: 2;
}
.component-69-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.terms-and-policies {
  height: 813px;
  flex: 1;
  position: relative;
  min-width: 461px;
  max-width: 100%;
}
.frame-parent91 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 77px;
  max-width: 100%;
}
.already-have-an {
  position: relative;
  font-weight: 500;
  cursor: pointer;
  z-index: 2;
}
.nice-png-logo {
  width: 597px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-mini);
  font-family: var(--font-hind-siliguri);
}
.input-field {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-darkgoldenrod);
  box-sizing: border-box;
  cursor: pointer;
}
.submit {
  position: absolute;
  width: 17.41%;
  top: 30.51%;
  left: 41.42%;
  font-size: var(--font-size-lg);
  font-weight: 800;
  font-family: var(--font-inter);
  color: #070500;
  text-align: left;
  display: inline-block;
  min-width: 66px;
  z-index: 1;
}
.component-64 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkgoldenrod-100);
  height: 59px;
  flex: 1;
  position: relative;
  max-width: 100%;
  z-index: 2;
}
.component-64:hover {
  background-color: rgba(173, 120, 18, 0.5);
}
.component-64-wrapper {
  width: 391px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
  box-sizing: border-box;
}
.component-64-wrapper,
.desktop-5-inner,
.frame-parent90 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent90 {
  width: 1170.8px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-9xl);
}
.desktop-5-inner {
  width: 1406.8px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-63xl);
  box-sizing: border-box;
}
.frame-child125 {
  align-self: stretch;
  height: 368px;
  position: relative;
  background-color: var(--color-gray-300);
  display: none;
}
.terms-and-users5 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.terms-and-users-container {
  width: 751px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.google-logo-child {
  height: 37.1px;
  width: 35.5px;
  position: relative;
  object-fit: cover;
  min-height: 37px;
  z-index: 1;
}
.subtract-icon10 {
  height: 63px;
  width: 63px;
  position: absolute;
  margin: 0 !important;
  top: -19px;
  left: calc(50% - 31.5px);
  z-index: 1;
}
.games10 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  min-width: 93px;
  z-index: 2;
}
.subtract-parent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.google-logo-inner {
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
}
.google-logo,
.google-logo-inner,
.reddit-logo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.google-logo {
  flex-direction: row;
  gap: var(--gap-6xs-5);
}
.reddit-logo {
  flex-direction: column;
  padding: var(--padding-20xl) 0 0;
}
.contact-us4,
.faq4,
.privacy-policies4 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.contact-us4,
.faq4 {
  display: inline-block;
  min-width: 96px;
}
.faq4 {
  min-width: 36px;
}
.privacy-policies-container,
.twitter-logo-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.privacy-policies-container {
  gap: var(--gap-12xl);
}
.twitter-logo-inner {
  width: 212px;
  padding: var(--padding-sm) 0 0;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-lg);
}
.facebook-original4,
.google-original4,
.reddit-original4,
.twitter-original4 {
  height: 36px;
  width: 36px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 36px;
  z-index: 1;
}
.reddit-original-logo,
.twitter-original-logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.reddit-original-logo {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.twitter-original-logo {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-46xl) 0 var(--padding-40xl);
}
.nicepng-google-play-logo-png-3-icon8,
.nicepng-google-play-logo-png-3-icon9 {
  align-self: stretch;
  width: 165px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 50px;
  z-index: 1;
}
.nicepng-google-play-logo-png-3-icon9 {
  object-fit: contain;
}
.facebook-original-logo,
.nicepng-google-play-logo-png-3-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.facebook-original-logo {
  width: 348px;
  flex-direction: column;
  gap: var(--gap-30xl);
  max-width: 100%;
}
.twitter-logo {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-6xl);
}
.subtract-shape,
.twitter-logo,
.upload-icon {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.upload-icon {
  width: 1031px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.subtract-shape {
  width: 1355px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.frame-child126 {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  z-index: 1;
}
.copyright-all4 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.copyright-all-right-reserved-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  font-size: var(--font-size-mini);
}
.desktop-5,
.rectangle-parent39 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-white);
  font-family: var(--font-inter);
}
.rectangle-parent39 {
  align-self: stretch;
  background-color: var(--color-gray-300);
  padding: var(--padding-29xl) 0 var(--padding-34xl);
  box-sizing: border-box;
  gap: var(--gap-14xl);
  max-width: 100%;
  z-index: 2;
  text-align: center;
  font-size: var(--font-size-lg);
}
.desktop-5 {
  width: 100%;
  position: relative;
  overflow: hidden;
  gap: var(--gap-80xl);
  background-image: url(./public/desktop--5@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-xl);
}
@media screen and (max-width: 1200px) {
  .frame-parent86 {
    gap: var(--gap-102xl);
    padding-left: var(--padding-41xl);
    padding-right: var(--padding-41xl);
    box-sizing: border-box;
  }
  .frame-parent91 {
    gap: var(--gap-19xl);
  }
  .desktop-5-inner {
    padding-bottom: var(--padding-34xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .sign-up1 {
    font-size: var(--font-size-5xl);
  }
  .frame-wrapper17 {
    flex: 1;
  }
  .frame-parent91,
  .twitter-logo {
    flex-wrap: wrap;
  }
  .twitter-logo {
    justify-content: center;
  }
}
@media screen and (max-width: 750px) {
  .frame-wrapper16 {
    display: none;
  }
  .frame-parent86 {
    gap: var(--gap-41xl);
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .terms-and-policies {
    min-width: 100%;
  }
  .frame-parent91 {
    gap: var(--gap-lgi);
  }
  .desktop-5-inner {
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
  .rectangle-parent39 {
    gap: var(--gap-base);
  }
  .desktop-5 {
    gap: var(--gap-30xl);
  }
}
@media screen and (max-width: 450px) {
  .frame-parent86 {
    gap: var(--gap-11xl);
  }
  .sign-up1 {
    font-size: var(--font-size-lg);
  }
  .country,
  .email1,
  .password1,
  .re-password,
  .referral-code-optional,
  .upload-here,
  .upload-profile-photo,
  .usa,
  .user-name {
    font-size: var(--font-size-base);
  }
  .frame-wrapper17 {
    min-width: 100%;
  }
  .games10 {
    font-size: var(--font-size-xl);
  }
  .twitter-original-logo {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .nicepng-google-play-logo-png-3-container {
    flex-wrap: wrap;
  }
  .facebook-original-logo {
    gap: var(--gap-5xl);
  }
  .rectangle-parent39 {
    padding-top: var(--padding-12xl);
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
  .desktop-5 {
    gap: var(--gap-6xl);
  }
}
