.splitter {
  background: linear-gradient(94.4deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.loop,
.splitter,
.splitter1 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.splitter1 {
  background: linear-gradient(94.4deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  z-index: 1;
}
.loop {
  margin: 0 !important;
}
.timer-child {
  width: 35.5px;
  height: 37.1px;
  position: relative;
  object-fit: cover;
}
.timer1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-smi-9);
}
.subtract-icon13 {
  height: 63px;
  width: 63px;
  position: relative;
}
.timer-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-2xl-5);
}
.games13 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  min-width: 93px;
  white-space: nowrap;
  cursor: pointer;
  z-index: 1;
}
.analyzer,
.frame-parent99 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.analyzer {
  flex-direction: column;
  padding: var(--padding-lgi) 0 0;
  margin-left: -78px;
}
.frame-parent99 {
  flex-direction: row;
  z-index: 2;
}
.home7 {
  position: relative;
  font-weight: 800;
  display: inline-block;
  min-width: 53px;
  z-index: 2;
}
.multiplier {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 0 0;
}
.pre-orders7,
.support9,
.upcoming7 {
  position: relative;
  font-weight: 800;
  display: inline-block;
  min-width: 100px;
  z-index: 2;
}
.support9,
.upcoming7 {
  min-width: 92px;
}
.support9 {
  min-width: 73px;
}
.aggregator,
.filter1 {
  margin: 0;
  display: flex;
  align-items: flex-start;
}
.aggregator {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.filter1 {
  width: 462px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-lg);
  box-sizing: border-box;
  max-width: 100%;
}
.icon-cart9,
.subtractor-icon {
  height: 25.6px;
  width: 26px;
  position: absolute;
  margin: 0 !important;
  right: 222px;
  bottom: 26.8px;
  z-index: 3;
}
.subtractor-icon {
  height: 58px;
  width: 58px;
  right: 120px;
  bottom: 8px;
  border-radius: 50%;
  object-fit: cover;
}
.component-164,
.component-737,
.loop-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.loop-parent {
  flex: 1;
  align-items: flex-end;
  padding: var(--padding-2xs) var(--padding-101xl) var(--padding-5xs);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-223xl);
}
.component-164,
.component-737 {
  align-items: flex-start;
}
.component-737 {
  flex: 1;
}
.component-164 {
  align-self: stretch;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.comparator-logic-child {
  height: 104px;
  width: 1439px;
  position: relative;
  background-color: var(--color-gray-1100);
  flex-shrink: 0;
  display: none;
}
.timer-counter {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 0 solid var(--color-darkgoldenrod);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.sequencer-controller {
  position: absolute;
  top: 17px;
  left: 22px;
  font-weight: 800;
  display: inline-block;
  min-width: 8px;
  z-index: 2;
}
.clock {
  height: 52px;
  width: 52px;
  position: relative;
}
.shipping {
  position: relative;
  font-weight: 800;
  display: inline-block;
  min-width: 89px;
  z-index: 1;
}
.memory-access,
.register {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.memory-access {
  flex-direction: column;
  padding: var(--padding-sm) 0 0;
  font-size: var(--font-size-xl);
}
.register {
  flex-direction: row;
  padding: 0 var(--padding-10xs) 0 0;
  gap: var(--gap-2xl);
  color: var(--color-white);
}
.inverter,
.negator {
  box-sizing: border-box;
}
.inverter {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px dashed var(--color-dimgray-200);
  z-index: 1;
}
.negator {
  width: 104px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xl) var(--padding-10xs) 0 0;
}
.negator-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 0 solid var(--color-darkgoldenrod);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.circuit {
  position: absolute;
  top: 17px;
  left: 22px;
  font-weight: 800;
  display: inline-block;
  min-width: 10px;
  z-index: 2;
}
.negator1 {
  height: 52px;
  width: 52px;
  position: relative;
  flex-shrink: 0;
}
.payment {
  position: relative;
  font-weight: 800;
  display: inline-block;
  min-width: 88px;
  z-index: 1;
}
.negator2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-10xs) 0 0;
  font-size: var(--font-size-xl);
  color: var(--color-gray-600);
}
.negator-item {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px dashed var(--color-dimgray-200);
  box-sizing: border-box;
  z-index: 1;
}
.negator3 {
  width: 104px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xl) var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.negator-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 0 solid var(--color-darkgoldenrod);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.div42 {
  position: absolute;
  top: 17px;
  left: 21px;
  font-weight: 800;
  display: inline-block;
  min-width: 11px;
  z-index: 2;
}
.negator4 {
  height: 52px;
  width: 52px;
  position: relative;
  flex-shrink: 0;
}
.game-activation {
  position: relative;
  font-weight: 800;
  z-index: 1;
}
.negator5 {
  flex-direction: column;
  padding: var(--padding-sm) 0 0;
  font-size: var(--font-size-xl);
  color: var(--color-gray-600);
}
.comparator-logic,
.logic-gate,
.negator5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.comparator-logic {
  background-color: var(--color-gray-1100);
  overflow-x: auto;
  flex-direction: row;
  padding: var(--padding-11xl) 285px var(--padding-3xl) 295px;
  gap: var(--gap-2xl);
}
.logic-gate {
  align-self: stretch;
  flex-direction: column;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-gray-1000);
  font-family: var(--font-inter);
}
.cart {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  min-width: 66px;
}
.alignment-types {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  font-size: var(--font-size-11xl);
}
.frame-child134 {
  height: 181px;
  width: 537px;
  position: relative;
  border-radius: var(--br-3xl);
  background: linear-gradient(
    114.65deg,
    #ffeded,
    rgba(0, 0, 0, 0.19) 75.82%,
    rgba(255, 235, 235, 0)
  );
  display: none;
  max-width: 100%;
}
.frame-child135 {
  height: 143.2px;
  width: 222.9px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.injustice-25 {
  position: relative;
  font-weight: 800;
  display: inline-block;
  min-width: 124px;
  z-index: 1;
}
.injustice-2-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.actionadventuremultiplayer {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.queue-manager {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-4xs);
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-300);
}
.matrix-structure {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 66px;
  white-space: nowrap;
  z-index: 1;
}
.frame-parent101,
.graph-structure {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.graph-structure {
  flex-direction: row;
  padding: 0 var(--padding-9xs);
}
.frame-parent101 {
  flex-direction: column;
  gap: var(--gap-8xs);
}
.memory-pool,
.rectangle-parent42 {
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent42 {
  position: absolute;
  top: 3px;
  left: 4px;
  border-radius: var(--br-3xl);
  background: linear-gradient(
    114.65deg,
    #ffeded,
    rgba(0, 0, 0, 0.19) 75.82%,
    rgba(255, 235, 235, 0)
  );
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-2xl) var(--padding-lgi-8);
  gap: var(--gap-30xl-1);
  height: 100%;
}
.memory-pool {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-4xl);
  border: 5px solid var(--color-mistyrose);
}
.component-113 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  z-index: 4;
}
.group-icon3 {
  height: 25.5px;
  width: 24px;
  position: relative;
}
.remove {
  position: relative;
  font-weight: 800;
  display: inline-block;
  min-width: 60px;
}
.component-104,
.shape-setter {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.shape-setter {
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
}
.component-104 {
  flex-direction: row;
  gap: var(--gap-smi);
  z-index: 2;
}
.group-icon4 {
  height: 25.5px;
  width: 24px;
  position: relative;
}
.remove1 {
  position: relative;
  font-weight: 800;
  display: inline-block;
  min-width: 60px;
}
.round-corner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.component-105,
.component-106-child {
  position: absolute;
  margin: 0 !important;
  bottom: 0;
}
.component-105 {
  left: -81px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  z-index: 3;
}
.component-106-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.div43 {
  position: relative;
  display: inline-block;
  min-width: 7px;
  z-index: 1;
}
.path-creator-child {
  width: 10px;
  height: 5.7px;
  position: relative;
  z-index: 1;
}
.path-creator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.component-106 {
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-sm) var(--padding-8xs)
    var(--padding-2xl);
  position: relative;
  gap: var(--gap-sm);
  z-index: 2;
}
.circle-shape,
.color-coder,
.component-106 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.circle-shape {
  align-self: stretch;
  flex-direction: column;
  color: var(--color-white);
}
.color-coder {
  height: 74px;
  flex-direction: row;
  position: relative;
  margin-left: -16px;
}
.font-chooser {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-4xl);
  border: 5px solid var(--color-mistyrose);
  box-sizing: border-box;
  max-width: 100%;
}
.component-114 {
  height: 100%;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 5;
}
.component-104-parent,
.component-114,
.map-structure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
}
.component-104-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-60xl) var(--padding-78xl) var(--padding-8xl);
  box-sizing: border-box;
  height: 100%;
  row-gap: 20px;
}
.map-structure {
  height: 180px;
  font-size: var(--font-size-mini);
  color: var(--color-dimgray-100);
}
.frame-parent100 {
  align-self: stretch;
  height: 184px;
  position: relative;
  max-width: 100%;
}
.frame-child136 {
  height: 181px;
  width: 537px;
  position: relative;
  border-radius: var(--br-3xl);
  background: linear-gradient(
    114.65deg,
    #ffeded,
    rgba(0, 0, 0, 0.19) 75.82%,
    rgba(255, 235, 235, 0)
  );
  display: none;
  max-width: 100%;
}
.frame-child137 {
  height: 143.2px;
  width: 222.9px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.injustice-26 {
  position: relative;
  font-weight: 800;
  display: inline-block;
  min-width: 124px;
  z-index: 1;
}
.injustice-2-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.actionadventuremultiplayer1,
.tree-structure1 {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.tree-structure1 {
  display: inline-block;
  min-width: 66px;
  white-space: nowrap;
}
.heap-manager {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.actionadventuremultiplayer-parent,
.frame-parent103,
.rectangle-parent43 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.actionadventuremultiplayer-parent {
  gap: var(--gap-sm);
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-300);
}
.frame-parent103,
.rectangle-parent43 {
  gap: var(--gap-8xs);
}
.rectangle-parent43 {
  position: absolute;
  top: 3px;
  left: 4px;
  border-radius: var(--br-3xl);
  background: linear-gradient(
    114.65deg,
    #ffeded,
    rgba(0, 0, 0, 0.19) 75.82%,
    rgba(255, 235, 235, 0)
  );
  width: 100%;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-2xl) var(--padding-lgi-8);
  box-sizing: border-box;
  gap: var(--gap-30xl-1);
  max-width: 100%;
  height: 100%;
}
.component-113-child {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-4xl);
  border: 5px solid var(--color-mistyrose);
  box-sizing: border-box;
  max-width: 100%;
}
.component-1131 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  z-index: 4;
}
.group-icon5 {
  height: 25.5px;
  width: 24px;
  position: relative;
}
.remove2 {
  position: relative;
  font-weight: 800;
  display: inline-block;
  min-width: 60px;
}
.component-1041,
.remove-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.remove-wrapper {
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
}
.component-1041 {
  flex-direction: row;
  gap: var(--gap-smi);
  z-index: 2;
}
.group-icon6 {
  height: 25.5px;
  width: 24px;
  position: relative;
}
.remove3 {
  position: relative;
  font-weight: 800;
  display: inline-block;
  min-width: 60px;
}
.remove-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.component-1051,
.component-106-item {
  position: absolute;
  margin: 0 !important;
  bottom: 0;
}
.component-1051 {
  left: -81px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  z-index: 3;
}
.component-106-item {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.div44,
.frame-child138 {
  position: relative;
  z-index: 1;
}
.div44 {
  display: inline-block;
  min-width: 7px;
}
.frame-child138 {
  width: 10px;
  height: 5.7px;
}
.component-106-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.component-1061 {
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-sm) var(--padding-8xs)
    var(--padding-2xl);
  position: relative;
  gap: var(--gap-sm);
  z-index: 2;
}
.component-105-parent,
.component-106-wrapper,
.component-1061 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.component-106-wrapper {
  align-self: stretch;
  flex-direction: column;
  color: var(--color-white);
}
.component-105-parent {
  height: 74px;
  flex-direction: row;
  position: relative;
  margin-left: -16px;
}
.component-114-child {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-4xl);
  border: 5px solid var(--color-mistyrose);
  box-sizing: border-box;
  max-width: 100%;
}
.component-1141 {
  height: 100%;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 5;
}
.component-104-group,
.component-113-parent,
.component-1141 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
}
.component-104-group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-60xl) var(--padding-78xl) var(--padding-8xl);
  box-sizing: border-box;
  height: 100%;
  row-gap: 20px;
}
.component-113-parent {
  height: 180px;
  font-size: var(--font-size-mini);
  color: var(--color-dimgray-100);
}
.frame-parent102 {
  align-self: stretch;
  height: 184px;
  position: relative;
  max-width: 100%;
}
.frame-child139 {
  height: 181px;
  width: 537px;
  position: relative;
  border-radius: var(--br-3xl);
  background: linear-gradient(
    114.65deg,
    #ffeded,
    rgba(0, 0, 0, 0.19) 75.82%,
    rgba(255, 235, 235, 0)
  );
  display: none;
  max-width: 100%;
}
.frame-child140 {
  height: 143.2px;
  width: 222.9px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.injustice-27 {
  position: relative;
  font-weight: 800;
  display: inline-block;
  min-width: 124px;
  z-index: 1;
}
.injustice-2-wrapper3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.actionadventuremultiplayer2,
.div45 {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.div45 {
  display: inline-block;
  min-width: 66px;
  white-space: nowrap;
}
.wrapper10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.actionadventuremultiplayer-group,
.frame-parent105,
.rectangle-parent44 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.actionadventuremultiplayer-group {
  gap: var(--gap-sm);
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-300);
}
.frame-parent105,
.rectangle-parent44 {
  gap: var(--gap-8xs);
}
.rectangle-parent44 {
  position: absolute;
  top: 3px;
  left: 4px;
  border-radius: var(--br-3xl);
  background: linear-gradient(
    114.65deg,
    #ffeded,
    rgba(0, 0, 0, 0.19) 75.82%,
    rgba(255, 235, 235, 0)
  );
  width: 100%;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-2xl) var(--padding-lgi-8);
  box-sizing: border-box;
  gap: var(--gap-30xl-1);
  max-width: 100%;
  height: 100%;
}
.component-113-item {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-4xl);
  border: 5px solid var(--color-mistyrose);
  box-sizing: border-box;
  max-width: 100%;
}
.component-1132 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  z-index: 4;
}
.group-icon7 {
  height: 25.5px;
  width: 24px;
  position: relative;
}
.remove4 {
  position: relative;
  font-weight: 800;
  display: inline-block;
  min-width: 60px;
}
.component-1052,
.remove-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.remove-frame {
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
}
.component-1052 {
  flex-direction: row;
  gap: var(--gap-smi);
  z-index: 3;
}
.group-icon8 {
  height: 25.5px;
  width: 24px;
  position: relative;
}
.remove5 {
  position: relative;
  font-weight: 800;
  display: inline-block;
  min-width: 60px;
}
.remove-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.component-1042,
.component-106-child1 {
  position: absolute;
  margin: 0 !important;
  bottom: 0;
}
.component-1042 {
  left: -81px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  z-index: 2;
}
.component-106-child1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.div46,
.frame-child141 {
  position: relative;
  z-index: 1;
}
.div46 {
  display: inline-block;
  min-width: 7px;
}
.frame-child141 {
  width: 10px;
  height: 5.7px;
}
.component-106-inner1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.component-1062 {
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-sm) var(--padding-8xs)
    var(--padding-2xl);
  position: relative;
  gap: var(--gap-sm);
  z-index: 2;
}
.component-104-container,
.component-106-container,
.component-1062 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.component-106-container {
  align-self: stretch;
  flex-direction: column;
  color: var(--color-white);
}
.component-104-container {
  height: 74px;
  flex-direction: row;
  position: relative;
  margin-left: -16px;
}
.component-114-item {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-4xl);
  border: 5px solid var(--color-mistyrose);
  box-sizing: border-box;
  max-width: 100%;
}
.component-1142 {
  height: 100%;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 5;
}
.component-105-group,
.component-113-group,
.component-1142 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
}
.component-105-group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-60xl) var(--padding-78xl) var(--padding-8xl);
  box-sizing: border-box;
  height: 100%;
  row-gap: 20px;
}
.component-113-group {
  height: 180px;
  font-size: var(--font-size-mini);
  color: var(--color-dimgray-100);
}
.frame-parent104 {
  align-self: stretch;
  height: 184px;
  position: relative;
  max-width: 100%;
}
.frame-child142 {
  height: 181px;
  width: 537px;
  position: relative;
  border-radius: var(--br-3xl);
  background: linear-gradient(
    114.65deg,
    #ffeded,
    rgba(0, 0, 0, 0.19) 75.82%,
    rgba(255, 235, 235, 0)
  );
  display: none;
  max-width: 100%;
}
.frame-child143 {
  height: 143.2px;
  width: 222.9px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.injustice-28 {
  position: relative;
  font-weight: 800;
  display: inline-block;
  min-width: 124px;
  z-index: 1;
}
.injustice-2-wrapper4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.actionadventuremultiplayer3,
.div47 {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.div47 {
  display: inline-block;
  min-width: 66px;
  white-space: nowrap;
}
.wrapper11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.actionadventuremultiplayer-container,
.frame-parent107,
.rectangle-parent45 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.actionadventuremultiplayer-container {
  gap: var(--gap-sm);
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-300);
}
.frame-parent107,
.rectangle-parent45 {
  gap: var(--gap-8xs);
}
.rectangle-parent45 {
  position: absolute;
  top: 3px;
  left: 4px;
  border-radius: var(--br-3xl);
  background: linear-gradient(
    114.65deg,
    #ffeded,
    rgba(0, 0, 0, 0.19) 75.82%,
    rgba(255, 235, 235, 0)
  );
  width: 100%;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-2xl) var(--padding-lgi-8);
  box-sizing: border-box;
  gap: var(--gap-30xl-1);
  max-width: 100%;
  height: 100%;
}
.component-113-inner {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-4xl);
  border: 5px solid var(--color-mistyrose);
  box-sizing: border-box;
  max-width: 100%;
}
.component-1133 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  z-index: 4;
}
.group-icon9 {
  height: 25.5px;
  width: 24px;
  position: relative;
}
.remove6 {
  position: relative;
  font-weight: 800;
  display: inline-block;
  min-width: 60px;
}
.component-1043,
.remove-wrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.remove-wrapper2 {
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
}
.component-1043 {
  flex-direction: row;
  gap: var(--gap-smi);
  z-index: 2;
}
.group-icon10 {
  height: 25.5px;
  width: 24px;
  position: relative;
}
.remove7 {
  position: relative;
  font-weight: 800;
  display: inline-block;
  min-width: 60px;
}
.remove-wrapper3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.component-1053,
.component-106-child2 {
  position: absolute;
  margin: 0 !important;
  bottom: 0;
}
.component-1053 {
  left: -81px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  z-index: 3;
}
.component-106-child2 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.div48,
.frame-child144 {
  position: relative;
  z-index: 1;
}
.div48 {
  display: inline-block;
  min-width: 7px;
}
.frame-child144 {
  width: 10px;
  height: 5.7px;
}
.component-106-inner2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.component-1063 {
  flex-direction: row;
  padding: var(--padding-6xs) var(--padding-sm) var(--padding-8xs)
    var(--padding-2xl);
  position: relative;
  gap: var(--gap-sm);
  z-index: 2;
}
.component-105-container,
.component-106-frame,
.component-1063 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.component-106-frame {
  align-self: stretch;
  flex-direction: column;
  color: var(--color-white);
}
.component-105-container {
  height: 74px;
  flex-direction: row;
  position: relative;
  margin-left: -16px;
}
.component-114-inner {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-4xl);
  border: 5px solid var(--color-mistyrose);
  box-sizing: border-box;
  max-width: 100%;
}
.component-1143 {
  height: 100%;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 5;
}
.component-104-parent1,
.component-113-container,
.component-1143 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
}
.component-104-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-60xl) var(--padding-78xl) var(--padding-8xl);
  box-sizing: border-box;
  height: 100%;
  row-gap: 20px;
}
.component-113-container {
  height: 180px;
  font-size: var(--font-size-mini);
  color: var(--color-dimgray-100);
}
.frame-parent106 {
  align-self: stretch;
  height: 184px;
  position: relative;
  max-width: 100%;
}
.heap {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  min-width: 352px;
  max-width: 100%;
}
.summery {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
}
.component-115-child {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 24px;
  border: 5px solid var(--color-white);
  box-sizing: border-box;
  max-width: 100%;
}
.component-115,
.opacity-adjust-child {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
}
.component-115 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.opacity-adjust-child {
  border-radius: var(--br-3xl);
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.discount,
.official-price {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 92px;
  z-index: 2;
}
.discount {
  min-width: 64px;
}
.anchor-points {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.arrange-tools,
.blur-effects {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 48px;
  white-space: nowrap;
  z-index: 2;
}
.blur-effects {
  min-width: 42px;
}
.align-tools,
.clone-copier,
.convert-tools {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.align-tools {
  flex-direction: row;
  padding: 0 0 0 var(--padding-7xs);
}
.clone-copier,
.convert-tools {
  flex-direction: column;
  gap: var(--gap-lg);
}
.clone-copier {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.subtotal {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  min-width: 106px;
  z-index: 2;
}
.contrast-adjust {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.filter-options {
  position: relative;
  font-weight: 800;
  display: inline-block;
  min-width: 87px;
  white-space: nowrap;
  z-index: 2;
}
.brightness-adjust {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-6xl);
}
.effect-applier {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xl);
}
.effect-applier-wrapper {
  width: 346px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-sm);
  box-sizing: border-box;
  max-width: 100%;
}
.transform-tools {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background: linear-gradient(93.8deg, #c18a1c, #000);
  cursor: pointer;
}
.payment1 {
  position: absolute;
  top: 29.31%;
  left: 34.78%;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 85px;
  z-index: 1;
}
.component-102 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 58px;
  flex: 1;
  position: relative;
  max-width: 100%;
  z-index: 2;
}
.opacity-masks,
.symbol-libraries {
  align-self: stretch;
  box-sizing: border-box;
}
.opacity-masks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-base) 0 var(--padding-2xl);
  max-width: 100%;
}
.symbol-libraries {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-darkgray-100);
  z-index: 2;
}
.smart-objects {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
  min-width: 102px;
}
.or1,
.smart-objects-child {
  position: relative;
  z-index: 2;
}
.or1 {
  font-weight: 500;
  display: inline-block;
  min-width: 15px;
}
.smart-objects-child {
  align-self: stretch;
  height: 1px;
  border-top: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
}
.layer-blending,
.raster-images,
.smart-objects1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.smart-objects1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
  min-width: 99px;
}
.layer-blending,
.raster-images {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-mid);
}
.layer-blending {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-7xl);
  max-width: 100%;
}
.group-icon11 {
  width: 5px;
  height: 10px;
  position: relative;
}
.font-libraries {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.continue-shopping {
  position: relative;
  font-weight: 500;
  cursor: pointer;
}
.continue-shopping-wrapper {
  justify-content: flex-start;
}
.component-103,
.continue-shopping-wrapper,
.style-libraries {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.component-103 {
  justify-content: flex-start;
  gap: var(--gap-6xs);
  z-index: 2;
}
.style-libraries {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  color: #8a7b7b;
}
.image-filters,
.opacity-adjust {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.image-filters {
  align-items: flex-start;
  gap: var(--gap-2xl);
}
.opacity-adjust {
  align-items: flex-end;
  padding: var(--padding-21xl) var(--padding-9xs) 56px;
  box-sizing: border-box;
  position: relative;
  gap: 46px;
  font-size: var(--font-size-mini);
}
.queue,
.stack,
.stroke-details {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.stroke-details {
  width: 368px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-9xl);
  min-width: 368px;
  font-size: var(--font-size-11xl);
}
.queue,
.stack {
  flex-direction: row;
}
.stack {
  width: 1008px;
  justify-content: flex-start;
  gap: var(--gap-80xl);
}
.queue {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-108xl) var(--padding-7xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.frame-child145 {
  align-self: stretch;
  height: 368px;
  position: relative;
  background-color: var(--color-gray-300);
  display: none;
}
.terms-and-users7 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.icon-indexer {
  width: 751px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.color-palette-child {
  height: 37.1px;
  width: 35.5px;
  position: relative;
  object-fit: cover;
  min-height: 37px;
  z-index: 1;
}
.subtract-icon14 {
  height: 63px;
  width: 63px;
  position: absolute;
  margin: 0 !important;
  top: -19px;
  left: calc(50% - 31.5px);
  z-index: 1;
}
.games14 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  min-width: 93px;
  z-index: 2;
}
.proximity-detector {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.anchor-arranger {
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
}
.anchor-arranger,
.color-palette,
.image-assembler {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.color-palette {
  flex-direction: row;
  gap: var(--gap-6xs-5);
}
.image-assembler {
  flex-direction: column;
  padding: var(--padding-20xl) 0 0;
}
.contact-us7,
.faq6,
.privacy-policies6 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.contact-us7,
.faq6 {
  display: inline-block;
  min-width: 96px;
}
.faq6 {
  min-width: 36px;
}
.link-labeller,
.size-scaler {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.size-scaler {
  gap: var(--gap-12xl);
}
.link-labeller {
  width: 212px;
  padding: var(--padding-sm) 0 0;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-lg);
}
.facebook-original6,
.google-original6,
.reddit-original6,
.twitter-original6 {
  height: 36px;
  width: 36px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 36px;
  z-index: 1;
}
.rotation-rotator,
.shadow-shaper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.shadow-shaper {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.rotation-rotator {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-46xl) 0 var(--padding-40xl);
}
.nicepng-google-play-logo-png-3-icon12,
.nicepng-google-play-logo-png-3-icon13 {
  align-self: stretch;
  width: 165px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 50px;
  z-index: 1;
}
.nicepng-google-play-logo-png-3-parent1,
.opacity-controller {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.opacity-controller {
  width: 348px;
  flex-direction: column;
  gap: var(--gap-30xl);
  max-width: 100%;
}
.progress-path {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-6xl);
}
.frame-wrapper20,
.icon-indexer-parent,
.progress-path {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.icon-indexer-parent {
  width: 1031px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.frame-wrapper20 {
  width: 1355px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.layer-lift {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  z-index: 1;
}
.copyright-all6 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.merge-merger {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  font-size: var(--font-size-mini);
}
.desktop-7,
.rectangle-parent46 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.rectangle-parent46 {
  align-self: stretch;
  background-color: var(--color-gray-300);
  align-items: flex-start;
  padding: var(--padding-29xl) 0 var(--padding-34xl);
  box-sizing: border-box;
  gap: var(--gap-14xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.desktop-7 {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-900);
  overflow: hidden;
  align-items: flex-end;
  gap: 94px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .loop-parent {
    gap: var(--gap-102xl);
    padding-left: var(--padding-41xl);
    padding-right: var(--padding-41xl);
    box-sizing: border-box;
  }
  .stack {
    gap: var(--gap-30xl);
  }
}
@media screen and (max-width: 1000px) {
  .cart,
  .summery {
    font-size: var(--font-size-5xl);
  }
  .stroke-details {
    flex: 1;
  }
  .stack {
    flex-wrap: wrap;
  }
  .queue {
    padding-bottom: var(--padding-64xl);
    box-sizing: border-box;
  }
  .progress-path {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 725px) {
  .filter1 {
    display: none;
  }
  .loop-parent {
    gap: var(--gap-41xl);
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .comparator-logic {
    padding-left: 147px;
    padding-right: var(--padding-123xl);
    box-sizing: border-box;
  }
  .frame-child135 {
    flex: 1;
  }
  .rectangle-parent42 {
    flex-wrap: wrap;
    gap: var(--gap-6xl);
  }
  .frame-parent100 {
    height: auto;
    min-height: 184;
  }
  .frame-child137 {
    flex: 1;
  }
  .rectangle-parent43 {
    flex-wrap: wrap;
    gap: var(--gap-6xl);
  }
  .frame-parent102 {
    height: auto;
    min-height: 184;
  }
  .frame-child140 {
    flex: 1;
  }
  .rectangle-parent44 {
    flex-wrap: wrap;
    gap: var(--gap-6xl);
  }
  .frame-parent104 {
    height: auto;
    min-height: 184;
  }
  .frame-child143 {
    flex: 1;
  }
  .rectangle-parent45 {
    flex-wrap: wrap;
    gap: var(--gap-6xl);
  }
  .frame-parent106 {
    height: auto;
    min-height: 184;
  }
  .stack {
    gap: var(--gap-6xl);
  }
  .queue {
    padding-bottom: var(--padding-35xl);
    box-sizing: border-box;
  }
  .rectangle-parent46 {
    gap: var(--gap-base);
  }
  .desktop-7 {
    gap: var(--gap-28xl);
  }
}
@media screen and (max-width: 450px) {
  .loop-parent {
    gap: var(--gap-11xl);
  }
  .game-activation,
  .payment,
  .shipping {
    font-size: var(--font-size-base);
  }
  .comparator-logic {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .cart {
    font-size: var(--font-size-lg);
  }
  .injustice-25,
  .matrix-structure {
    font-size: var(--font-size-base);
  }
  .color-coder {
    margin-left: 0;
  }
  .component-104-parent {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .map-structure {
    height: auto;
    min-height: 180;
  }
  .injustice-26,
  .tree-structure1 {
    font-size: var(--font-size-base);
  }
  .component-105-parent {
    margin-left: 0;
  }
  .component-104-group {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .component-113-parent {
    height: auto;
    min-height: 180;
  }
  .div45,
  .injustice-27 {
    font-size: var(--font-size-base);
  }
  .component-104-container {
    margin-left: 0;
  }
  .component-105-group {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .component-113-group {
    height: auto;
    min-height: 180;
  }
  .div47,
  .injustice-28 {
    font-size: var(--font-size-base);
  }
  .component-105-container {
    margin-left: 0;
  }
  .component-104-parent1 {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .component-113-container {
    height: auto;
    min-height: 180;
  }
  .heap {
    min-width: 100%;
  }
  .summery {
    font-size: var(--font-size-lg);
  }
  .clone-copier {
    flex-wrap: wrap;
  }
  .filter-options,
  .subtotal {
    font-size: var(--font-size-xl);
  }
  .brightness-adjust {
    flex-wrap: wrap;
  }
  .payment1 {
    font-size: var(--font-size-base);
  }
  .or1 {
    width: 100%;
    height: 15px;
  }
  .raster-images {
    flex-wrap: wrap;
  }
  .opacity-adjust {
    gap: var(--gap-4xl);
    padding-top: var(--padding-7xl);
    padding-bottom: var(--padding-17xl);
    box-sizing: border-box;
  }
  .stroke-details {
    min-width: 100%;
  }
  .games14 {
    font-size: var(--font-size-xl);
  }
  .rotation-rotator {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .nicepng-google-play-logo-png-3-parent1 {
    flex-wrap: wrap;
  }
  .opacity-controller {
    gap: var(--gap-5xl);
  }
  .rectangle-parent46 {
    padding-top: var(--padding-12xl);
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
  .desktop-7 {
    gap: var(--gap-4xl);
  }
}
